<ion-header>
  <ion-toolbar>
    <ion-row padding>
    <ion-col size="2">
      <ion-img src="../../../assets/img/menu.png"></ion-img>         
    </ion-col>
    <ion-col align-self-start>
      <ion-row>Profile</ion-row>
    </ion-col>

    <ion-img src="../../../assets/img/logout.png"></ion-img> 
    </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

  <!-- General settings -->
  <ion-row padding class="caption">
    <ion-label>General settings</ion-label>   
  </ion-row>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Addresses, keys</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Address book</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md" class="notification">
    <ion-item>
      <ion-label>Push Notifications</ion-label>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg"></ion-img>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- security -->
  <ion-row padding class="caption">
    <ion-label>Security</ion-label>   
  </ion-row>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Backup phrase</ion-label>
      <ion-button color="light">
        <ion-icon name="checkmark" style="color: #4aad02; font-size: 50px;"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Change password</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Change passcode</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Fingerprint</ion-label>
      <ion-toggle color="primary" mode="md"></ion-toggle>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Network</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- other -->
  <ion-row padding class="caption">
    <ion-label>Other</ion-label>   
  </ion-row>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Rate app</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Feedback</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card mode="md">
    <ion-item>
      <ion-label>Support Wavesplatform</ion-label>
      <ion-button color="light">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-row class="caption">
        Current height
      </ion-row>
      <ion-row>
        1566644
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="caption">
        Version
      </ion-row>
      <ion-row>
        2.3.1 (421)
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button color="danger" style="width: 100%;">
      <ion-label>Delete account from device</ion-label>
    </ion-button>
  </ion-row>
  <ion-row justify-content-center padding>
    <ion-button color="light">
      <ion-img src="../../../assets/img/logout.png"></ion-img>
      <ion-label>Logout of account</ion-label>
    </ion-button>    
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light">
          <ion-img src="../../../assets/img/menu/shop.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-img src="../../../assets/img/menu/direction.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-img src="../../../assets/img/menu/add.png" style="width:40px"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-img src="../../../assets/img/menu/gocome.png"></ion-img>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-img src="../../../assets/img/menu/glass.png"></ion-img>
        </ion-button>
      </ion-col>
        <!-- <ion-button color="light">
          <ion-img src="../../../assets/img/buttons.png" style="position: 30px 20px"></ion-img> -->
        <!-- </ion-button> --> 
        <!-- <ion-img src="../../../assets/img/buttons.png" style="background-position: 30px 20px"></ion-img> -->
      <!-- <ion-col>
        <ion-img src="../../../assets/img/buttons.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="../../../assets/img/buttons.png"></ion-img>
      </ion-col> -->
    </ion-row>    
  </ion-toolbar>
</ion-footer>