<ion-content>
  <ion-row>
      <ion-item>            
        <ion-icon name="arrow-round-back" md="md-arrow-round-back" justify-content-left></ion-icon>
        <ion-label color="contrast">Address book</ion-label>
        <ion-img style="width: 25px; height: 25px;" src="../../../assets/img/addAddress.jpg" justify-content-right tappable></ion-img>
      </ion-item>       
  </ion-row>
  <ion-row justify-content-evenly>
        <ion-img style="width: 100px; height: 100px;" src="../../../assets/img/emptyAddress.jpg" justify-content-center></ion-img>     
  </ion-row>
  <ion-row justify-content-center padding>
      <ion-label color="contrast" style="font-size: 15px; text-align: center; color: #9da5b0">
        Nothing Here...<br>
        Your can create new address
      </ion-label>
  </ion-row>      
</ion-content>
